<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jindal5.mayank.popular_movies_14ce10032_gsc" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            android:configChanges="orientation|keyboardHidden"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".det_mov"
            android:label="@string/title_activity_det_mov"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".det_mov_rev"
            android:label="@string/title_activity_det_mov_rev"
            android:parentActivityName=".det_mov" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="det_mov" />
        </activity>
        <activity
            android:name=".settings_activity"
            android:label="@string/title_activity_settings_activity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
    </application>

</manifest>
